<div class="container-fluid  bg-image-2  position-relative">
            <div class="row  position-absolute bottom-0 w-100">
            <div class="col-md-4 mx-auto">
            <p class="text-light">©2024 - All rights Reserved (Bahi Khata Inc.)</p>
            <div class="row ">
               <img src="./assets/twitter-svgrepo-com.svg" alt="" style="width: 60px; ">
               <img src="./assets/facebook-svgrepo-com.svg" alt="" style="width: 60px;">
               <img src="./assets/linkedin-svgrepo-com.svg" alt="" style="width: 60px;">
               <img src="./assets/social-youtube-svgrepo-com.svg" alt="" style="width: 60px;">
               <img src="./assets/mail-svgrepo-com.svg" alt="" style="width: 60px;">
            </div>
            </div>
            <div class="col-md-2 ">
            <div class="text-light">COMPANY</div>
            <div class="text-light">About Us</div>
            <div class="text-light">Contact Us</div>
            </div>
            <div class="col-md-2 ">
              <div class="text-light">PARTNERS</div>
              <div class="text-light">Investor</div>
            </div>
            <div class="col-md-3 ">
              <div class="text-light">LEGAL</div>
              <div class="text-light">Terms of Services</div>
              <div class="text-light">Privacy Policy</div>
            </div>
            </div>
            </div>