.bg-image{
    background-image: url(../assets/images/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 1;
    transition:opacity 1.5s;

}

.bg-image-2{
    background-image:url(./images/layered-waves-haikei11.svg); 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: 400px;
    overflow: auto;
}